@import "fa-icons.css";

html.no-js .js {
    display: none;
}

html.js .no-js {
    display: none;
}

/* Login page */

#login-form {
    max-width: 30em;
    margin: 0 auto;
}

/* Welcome page */

#welcome-wrap {
    position: relative;
    margin: 0 auto;
}

#welcome-photo {
    display: block;
    width: 100%;
    height: 100%;
}

#welcome-text {
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 70%;
    background-color: rgba(0,0,0,0.3);
    padding: 0.5em 1em;
}

#welcome-text>h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

#welcome-text>div {
    margin: 0;
    padding: 0;
}

#welcome-wrap>a { /* "Start visit" button */
    z-index: 1;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: inline-block;
}

/* Browse page */

div.th-content, div.sc-content {
    position: relative;
    text-align: justify;
    font-size: 0;
    overflow: hidden;
    padding: 1px 0 0 0;
    margin: 0 -4px -1px 0;
}

div.th-content figure, div.sc-content figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #F0F0F0;
    border-left: 0;
    border-right: 0;
    margin: -1px 4px 0 0;
}

/* Hack to extend the top and bottom borders in the gap between (justified)
   pictures */
div.th-content figure:before, div.sc-content figure:before {
    content: "";
    top: -1px;
    bottom: -1px;
    left: -100px;
    width: 100px;
    position: absolute;
    border: 1px solid #F0F0F0;
    border-left: 0;
    border-right: 0;
    z-index: -1;
}

#browse-main figcaption, #caddy-main figcaption {
    display: none;
    font-size: 75%;
    text-align: center;
}

/* Detail page */

#detail-wrap {
    position: relative;
    margin: 0 auto;
}

#detail-photo {
    display: block;
    width: 100%;
    height: 100%;
}

#detail-photo-hdr {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
}

#detail-left {
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 0;
}

#detail-right {
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 0;
}

#detail-btns {
    display: block;
    text-align: center;
}

/* Address form */

.row div {
    vertical-align: middle;
    margin-bottom: 0;
}

.row div label {
    vertical-align: middle;
    display: box;
    width: 100%;
    text-overflow: ellipsis;
    margin-top: 0.5em;
}

option, select {
    text-align: left;
}

.soloicon {
    position: relative;
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: inline-block;
    border-width: 0;
    margin: 0;
    padding: 0;
}

.accept-drop {
    border-left: 8px solid red !important;
}

/* big buttons */

.lg-bigbutton {
    display: block;
    position: relative;
}
.lg-bigbutton:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.3);
}
.lg-bigbutton-notext {
    padding: 0;
    width: 60px;
    height: 60px;

    text-indent: -9999px;
    white-space: nowrap !important;
}
.lg-bigbutton-notext:after {
    left:50%;
    margin-left: -30px;
}
.lg-bigbutton:hover:after {
    background-color: #22aadd;
}

/* item count in caddy */

.ui-btn-icon-notext[href="#caddy"] {
    overflow: visible !important;
}
.ui-btn-icon-notext[href="#caddy"] em {
    position: absolute;
    display: box;
    text-indent: 0;
    white-space: nowrap;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    background-color: red;
    color: white;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 4px;
    z-index: 1;
}

/* Caddy sections */

h2.ui-btn-icon-left {
    position: relative;
    margin-left: 48px;
    padding: 0.3em 0.3em 0 0;
}
h2.ui-btn-icon-left:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    margin-left: -48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    width: 40px;
    height: 40px;
    background-color: #F0F0F0;
    border-radius: 0;
}
div.sc-content {
    margin-left: 48px;
}
